*~
obj
bin/
*.pidb
*.dll
*.mdb
build/
config.log
config.make
test-results
*.userprefs
TestResult.xml
*.lo
*.o
*.la
Makefile
Makefile.in
.libs
.deps
stamp-*
libtool.m4
ltoptions.m4
.DS_Store
scripts/manos
config.*
autom4te.cache
aclocal.m4
libtool
