<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Sparkling   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100529

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mango Project</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#"><span>Mang</span>O  </a></h1>
				<p>Easy Web Development</p>
			</div>
			<div id="menu">
				<ul id="{{ template_name | filename_noextension }}">
					<li id="nav-home"><a href="#">Home</a></li>
					<li id="nav-about"><a href="#">About</a></li>
					<li id="nav-downloads"><a href="#">Downloads</a></li>
					<li id="nav-docs"><a href="#">Docs</a></li>
					<li id="nav-community"><a href="#">Community</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				      Welcome to the Mango Web
				Application framework/  asdasfddsffdsg
				dfs
				dfgdfg
				dsfg
				dsfg
				dsf
				gdsf
				gdsf
				gdsgdsf
				g
				dsf
				gdsf
				gdsf
				g
				dsf
				g
				dsf
				g
				fdsg{% block content %}{% endblock %}
				</div>
				<!-- end #content -->
				<div id="sidebar">
				<!--
					<ul>
						<li>
							<div id="search" >
								<form method="get" action="#">
									<div>
										<input type="text" name="s" id="search-text" value="" />
										<input type="submit" id="search-submit" value="GO" />
									</div>
								</form>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
					</ul>
				-->
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2010 mango-project.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
